mat-icon {
    vertical-align: middle;
}

.rows{
    vertical-align: middle;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 0px 10px 0px;
}

.make-gold {
    background-color: #cccccc
}

mat-accordion{
    margin-top: 10px;
}

mat-panel-title i{
    margin-right: 10px;
}

.container{
    max-width: 80%;
}