.login-content{
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(340deg, #3f51b5 50%, #ffffff 55%);
}

mat-card {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 2rem;
}

.signup{
    color: #3f51b5;
    font-size: smaller;
    letter-spacing: 1px;
    text-align: center;
}

.signup a{
    text-decoration: none;
    color: #3f51b5;
    font-weight: bold;
}

.logo{
    width: 55%;
}