button{
    background-color: #3f51b5
}

table{
    margin-top: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.home-content{
    margin-top: 40px;
}

th, td{
    text-align: center;
}
.container{
    max-width: 80%;
}