<h1 mat-dialog-title> <u>Solicitudes pendientes en el grupo </u></h1>
<div mat-dialog-content>

  <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre usuario</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>
                <button class="btn btn-success" (click)="acceptRequest(user.id_user)">Aceptar</button>
                <button class="btn btn-danger" (click)="rejectRequest(user.id_user)">Rechazar</button>
            </td>
        </tr>
  </table> 

</div>
<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onClick()" >Ok</button>
</div>
