<div class="container">
    <div class="modal-header">
        <mat-icon (click)="dialogRef.close()" class="x-close">close</mat-icon>   
    </div>

    <section class="statistics-container">
        <app-pie-chart title="Gastos realizados por usuario" [data]="statistics.percentages_by_user"></app-pie-chart>
        <app-pie-chart title="Gastos por categoria" [data]="statistics.percentages_by_category"></app-pie-chart>
        <app-column-chart title="Percentages by user and category" [data]="statistics.percentages_by_category_and_user"></app-column-chart>
    </section>
    
</div>

